@charset "utf-8";

@import "reset.scss";
/*End Broswer CSS reset*/
@import "footer.scss";

$black: black;
$linkColour: rgb(238, 231, 231);

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

#buttonHolder button,
#newGame button {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5%;
    font-size: x-large;
    cursor: pointer;
}

#buttonHolder button {
    background-color: #d7d192;
    color: $black;
}

#newGame button:hover {
    background-color: #d7d192;
    color: $black;
}

#buttonHolder button:hover {
    background-color: $black;
    color: #d7d192;
}

#newGame button {
    background-color: $black;
    color: #d7d192;
}

#player1,
#player2 {
    text-align: center;
    max-width: 33%;
    height: auto;
    background: radial-gradient(circle at 30% 107%, #655b08 0%, #d7d192 5%, #df1a08 45%, #d747a9 60%, #33952b 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 50px;
}

#p1Total,
#p2Total {
    font-size: x-large;
    color: #aba46a;
    background-color: black;
    border-radius: 20px;
    padding: 5px;
    border: 1px solid white;
}

#p1Score p,
#p2Score p{
    font-size: x-large;
    font-weight: bold;
}

.images {
    display: flex;
    justify-content: space-around;
    background-color: rgb(6, 6, 6);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
}

.dice {
    width: 25%;
    height: auto;
    animation-duration: 2s;
    border-radius: 40px;
}



/* Rotate */
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#player1 {
    border-right: 1px solid wheat;
}

#player2 {
    border-left: 1px solid wheat;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 17px;
    background-color: rgb(73, 68, 68);
    color: rgb(235, 235, 235);
    font-family: sans-serif;
    background: url("../images/background.png") center center fixed;
    background-size: cover;
}

header {
    border-bottom: 1px rgb(232, 228, 228) solid;
}

a:link {
    text-decoration: none;
    color: $linkColour;
}

a:visited {
    color: $linkColour;
}

.nav {
    color: $linkColour;
    display: flex;
    justify-content: center;
    background-color: rgb(32, 33, 34);
}


.nav-item {
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    font-size: x-large;
}

.nav-item:hover {
    background-color: rgb(20, 2, 2);
    color: rgb(255, 255, 255);
    border-radius: 3px;
}

.nav-item:active,
a:active {
    background-color: rgb(255, 255, 255);
    color: rgb(20, 2, 2);
}

h1 {
    font-size: x-large;
    background: radial-gradient(circle at 30% 107%, #c3be88 0%, #d7d192 5%, #fd5949 45%, #a20f73 60%, #132d7d 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}



/*medium*/
@media screen and (max-width: 1000px) and (min-width: 730px) {

    .wrapper {
        flex-direction: row;
        margin: 10px;
    }

}

/*smallest*/
@media screen and (max-width: 730px) {

    .wrapper {
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0px;
        min-height: 100%;
    }

    #newGame {
        margin-top: 43%;
    }

    #player1,
    #player2 {
        max-width: none;
    }

    #player1 {
        border-right: 0;
        border-top: 1px solid wheat;
    }

    #player2 {
        border-left: 0;
        border-top: 1px solid wheat;
    }

    body {
        font-size: 15px;
    }

    .nav {
        flex-direction: column;
        line-height: 12px;
        align-items: center;
    }

    .nav-item:hover {
        border-radius: 1pc;
    }
}